{% extends 'layout.njk' %}

{% block content %}
  <form class="card" method="POST" action="/teachers">
    <section class="avatar" 
    style="background: url(https://source.unsplash.com/collection/332741/500x500) no-repeat center center / cover "
    >
    </section>

    <section class="details">

      <h3>Novo Professor</h3>

      <div class="item">
        <div>Avatar url</div>
        <input 
          type="url"
          name="avatar_url"
          placeholder="https://"
        >
      </div>

      <div class="item">
        <div>Nome</div>
        <input 
          type="text"
          name="name"
        >
      </div>
      
      <div class="item">
        <div>Data de Nascimento</div>
        <input 
          type="date"
          name="birth"
        >
      </div>
      
      <div class="item">
        <div>Grau de Escolaridade</div>
        <select name="schooling">
          <option value="ensinoMedio">Ensino Médio Completo</option>
          <option value="superiorCompleto">Ensino Superior Completo</option>
          <option value="mestrado">Mestrado</option>
          <option value="doutorado">Doutorado</option>
        </select>
      </div>

      <div class="item">
        <div>Type de aula</div>
        <div>
          <span><input type="radio" name="accompaniment" value="P" checked>Presencial</span>
          <span><input type="radio" name="accompaniment" value="A">À distância</span>
        </div>
      </div>

      <div class="item">
        <div>Area de Atuação</div>
        <input 
          type="text" 
          name="actingArea"
          placeholder="Separe as áreas de atuação por virgula ','"
        >
      </div>

      <button type="submit">Salvar</button>

    </section>
  </form>
{% endblock content %}